body {
        margin: 0;
        font-size: 1em;
}

.topSpace {
        margin-top: 10%;
}


.fixed {
        position: relative;
        left: 85%;
        width: 50%;
        margin-top: 0;
}

#timeUI {
        float: right;
        position: fixed;
        font-size: 0.8em;
        -moz-float-edge: right;
        margin: 20% 2vmin 0 0;
}

.timeUpUI {
        float: right;
        position: fixed;
        -moz-float-edge: right;
        color: red;
        display: block;
        margin: 20% 2vmin 0 0;
        animation: blink 600ms infinite;
}@keyframes blink {
        10% {
                display: none;
        } 20% {
                display: block;
        } 30% {
                display: none;
        } 40% {
                display: block;
        } 50% {
                display: none;
        } 60% {
                display: block;
        } 70% {
                display: none;
        } 80% {
                display: block;
        } 90% {
                display: none;
        } 100% {
                display: block;
        } 
}

.rules {
        width: 100%;
        margin: auto;
        margin-top: 60%;
}

.error {
        width: 100%;
        margin: auto;
        margin-top: 60%;
        color: red;
        animation: shake 1s infinite;
}

.navigation {
        position: fixed;
        top: 0;
        width: 100%;
        margin: 0;
}

nav {
        background-color: black;
        color: white;
        margin: 0;
        padding: 1vmin 0 1vmin 0;
        box-sizing: border-box;
}

.selectquiz {
        background-color: #f1f1f1;
        padding: 2vmin;
        border-bottom: 1px solid rgb(233, 233, 233);
}

select {
        width: 20%;
        height: 2em;
        font-size: 1em;
        border: 1px solid rgb(233, 233, 233);
}


select:disabled {
        width: 20%;
        background-color: rgb(209, 209, 209);
        height: 2em;
        font-size: 1em;
        border: 1px solid rgb(233, 233, 233);
}

select option:disabled {
        width: 20%;
        height: 2em;
        font-size: 1em;
        border: 1px solid rgb(233, 233, 233);
        background-color: rgb(187, 187, 187);
}

#sub {
        display: block;
        float: right;
        -moz-float-edge: right;
}

#checkanswer {
        display: block;
        float: right;
        display: none;
        -moz-float-edge: right;
}

#startNew {
        float: right;
        display: none;
        -moz-float-edge: right;
        width: 30%;
}

.btncheck2 {
        background-color: green;
        border: none;
        color: white;
        height: 2em;
        width: 30%;
        transition-duration: 600ms;
        font-size: 1em;
}

.activeButton, .btncheck, .btncheck2,  .correctAnswers {
        background-color: green;
        border: none;
        color: white;
        height: 2em;
        width: 30%;
        transition-duration: 600ms;
        font-size: 1em;
}

.correctAnswers {
        background-color: green;
        border: none;
        color: white;
        height: 2em;
        width: 30%;
        transition-duration: 600ms;
        font-size: 1em;
}

.disabledButton, [type="button"]:disabled {
        background-color: rgb(128, 189, 153);
        border: none;
        color: rgb(255, 255, 255);
        height: 2em;
        width: 30%;
        font-size: 1em;
        border: 1px solid rgb(212, 212, 212);
}

[type="button"]:focus {
        outline: none;
}

.btncheck:focus {
        outline: none;
}


.btncheck2:focus {
        outline: none;
}

.activeButton:hover {
        background-color: rgb(0, 80, 0);
        color: white;
        border: none;
        transition-duration: 600ms;
        position: relative;
        bottom: 0.2vmin;
}

.correctAnswers:hover {
        background-color: rgb(0, 80, 0);
        color: white;
        border: none;
        transition-duration: 600ms;
        position: relative;
        bottom: 0.2vmin;
}

.btncheck:hover {
        background-color: rgb(0, 80, 0);
        color: white;
        border: none;
        transition-duration: 600ms;
        position: relative;
        bottom: 0.2vmin;
}

.btncheck2:hover {
        background-color: rgb(0, 80, 0);
        color: white;
        border: none;
        transition-duration: 600ms;
        position: relative;
        bottom: 0.2vmin;
}

.modalBody {
        display: none;
        background-color: rgba(0, 0, 0, 0.7);
        position: fixed;
        width: 100%;
        height: 100vh;
        overflow: scroll;
        top: 0;
        z-index: 1;
}

.modalContent {
        background-color: white;
        margin: 0 auto;
        height: 100vh;
        width: 100%;
}

.testresultsheading {
        background-color: rgb(1, 94, 1);
        color: white;
        margin: 0;
        padding: 2vmin;
}

.modalMainCon {
        padding: 3vmin;
}


.testArea {
        width: 80%;
        margin-top: 10%;
}

li {
        list-style-type: none;
        margin-bottom: 2vmin;
}

.dynamicQuestionHeading {
        margin-bottom: 2vmin;
}


@media only screen and (min-width: 600px) {
        .modalContent {
                background-color: white;
                margin: 0 auto;
                height: 100vh;
                width: 60%;
                box-shadow: 1px 1px 5px 0px gray;
        }


        .topSpace {
                margin-top: 10%;
        }
        
        
        .fixed {
                position: relative;
                left: 85%;
                width: 20%;
                margin-top: 0;
        }
        
        #timeUI {
                float: right;
                position: fixed;
                -moz-float-edge: right;
                margin-top: 2%;
        }
        
        .timeUpUI {
                float: right;
                position: fixed;
                -moz-float-edge: right;
                margin-top: 2%;
                color: red;
                display: block;
                animation: blink 600ms infinite;
        }@keyframes blink {
                10% {
                        display: none;
                } 20% {
                        display: block;
                } 30% {
                        display: none;
                } 40% {
                        display: block;
                } 50% {
                        display: none;
                } 60% {
                        display: block;
                } 70% {
                        display: none;
                } 80% {
                        display: block;
                } 90% {
                        display: none;
                } 100% {
                        display: block;
                } 
        }
        
        .rules {
                width: 50%;
                margin: auto;
                margin-top: 10%;
        }
        
        .error {
                width: 50%;
                margin: auto;
                margin-top: 10%;
                text-align: center;
                color: red;
                animation: shake 1s infinite;
        }
        
        .navigation {
                position: fixed;
                top: 0;
                width: 100%;
                margin: 0;
        }
        
        nav {
                background-color: black;
                color: white;
                margin: 0;
                padding: 1vmin 0 1vmin 0;
                box-sizing: border-box;
        }
        
        .selectquiz {
                background-color: #f1f1f1;
                padding: 2vmin;
                border-bottom: 1px solid rgb(233, 233, 233);
        }
        
        select {
                width: 20%;
                height: 2em;
                font-size: 1em;
                border: 1px solid rgb(233, 233, 233);
        }
        
        
        select:disabled {
                width: 20%;
                background-color: rgb(209, 209, 209);
                height: 2em;
                font-size: 1em;
                border: 1px solid rgb(233, 233, 233);
        }
        
        select option:disabled {
                width: 20%;
                height: 2em;
                font-size: 1em;
                border: 1px solid rgb(233, 233, 233);
                background-color: rgb(187, 187, 187);
        }
        
        #sub {
                display: block;
                float: right;
                -moz-float-edge: right;
        }
        
        #checkanswer {
                display: block;
                float: right;
                display: none;
                -moz-float-edge: right;
        }
        
        #startNew {
                float: right;
                display: none;
                -moz-float-edge: right;
        }
        
        .btncheck2 {
                background-color: green;
                border: none;
                color: white;
                height: 2em;
                width: 16%;
                transition-duration: 600ms;
                font-size: 1em;
        }
        
        .activeButton, .btncheck, .btncheck2,  .correctAnswers {
                background-color: green;
                border: none;
                color: white;
                height: 2em;
                width: 16%;
                transition-duration: 600ms;
                font-size: 1em;
        }
        
        .correctAnswers {
                background-color: green;
                border: none;
                color: white;
                height: 2em;
                width: 30%;
                transition-duration: 600ms;
                font-size: 1em;
        }
        
        .disabledButton, [type="button"]:disabled {
                background-color: rgb(128, 189, 153);
                border: none;
                color: rgb(255, 255, 255);
                height: 2em;
                width: 16%;
                font-size: 1em;
                border: 1px solid rgb(212, 212, 212);
        }
        
        [type="button"]:focus {
                outline: none;
        }
        
        .btncheck:focus {
                outline: none;
        }
        
        
        .btncheck2:focus {
                outline: none;
        }
        
        .activeButton:hover {
                background-color: rgb(0, 80, 0);
                color: white;
                border: none;
                transition-duration: 600ms;
                position: relative;
                bottom: 0.2vmin;
        }
        
        .correctAnswers:hover {
                background-color: rgb(0, 80, 0);
                color: white;
                border: none;
                transition-duration: 600ms;
                position: relative;
                bottom: 0.2vmin;
        }
        
        .btncheck:hover {
                background-color: rgb(0, 80, 0);
                color: white;
                border: none;
                transition-duration: 600ms;
                position: relative;
                bottom: 0.2vmin;
        }
        
        .btncheck2:hover {
                background-color: rgb(0, 80, 0);
                color: white;
                border: none;
                transition-duration: 600ms;
                position: relative;
                bottom: 0.2vmin;
        }
        
        .modalBody {
                display: none;
                background-color: rgba(0, 0, 0, 0.7);
                position: fixed;
                width: 100%;
                height: 100vh;
                overflow: scroll;
                top: 0;
                z-index: 1;
}     
        
        .testresultsheading {
                background-color: rgb(1, 94, 1);
                color: white;
                margin: 0;
                padding: 2vmin;
        }
        
        .modalMainCon {
                padding: 3vmin;
        }
        
        
        .testArea {
                width: 70%;
        }
        
        li {
                list-style-type: none;
                margin-bottom: 2vmin;
        }
        
        .dynamicQuestionHeading {
                margin-bottom: 2vmin;
        }
        
}